* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#title {
    background-image: url(story-images/pexels-wayne-evans-567186.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

body {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
}

#titlecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 7vw;
    color: white;
}

h2 {
    font-size: 3vw;
    color: white;
}

.btn {
    display: block;
    background-color: brown;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    margin-top: 50px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 1s;
}

.btn:hover {
    background-color: black;
    color: yellow;
}

/* page one */

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100vh;
    }
    
    .div1 { 
        grid-area: 1 / 1 / 2 / 3; 
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 5%;
    }
    
    .div2 { 
        grid-area: 2 / 1 / 3 / 2; 
        background-image: url(story-images/pexels-juan-mendez-3075517.jpg);
        background-size: cover;
    }
    
    .div3 { 
        grid-area: 2 / 2 / 3 / 3; 
        background-image: url(story-images/pexels-rdne-stock-project-8865431.jpg);
        background-size: cover;
    }

#page1 {
    background-color: black;
}

p {
    color: white;
    font-size: 24px;
    line-height: 2;
}

.him {
    color: white;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    flex-direction: column;
}

h3 {
    font-size: 4vw;
    font-style: italic;
}

.him:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: yellow;
}

.her {
    color: white;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    flex-direction: column;
}

.her:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: yellow;
}

footer {
    background-color: gray;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 999;
}

footer p {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 10px;
    text-transform: uppercase
}

footer a {
    color: yellow;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

/* page two him */

#page2-him, #page3-him, #page2-her, #page3-her {
    background-color: black;
}

#page2-him .parent, #page3-him .parent, #page2-her .parent, #page3-her .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    #page2-him .div1, #page3-him .div1 { 
        grid-area: 1 / 1 / 2 / 2; 
    }
    
    #page2-him .div2 { 
        grid-area: 1 / 2 / 2 / 3; 
        background-image: url(story-images/pexels-francesco-ungaro-2705357.jpg);
    }

i {
    font-style: italic;
    color: chartreuse;
}

#page3-him .div2 {
    grid-area: 1 / 2 / 2 / 3;
    background-image: url(story-images/pexels-davide-locatelli-2768770.jpg);
    background-position: center;
}

audio {
    margin-bottom: 100px;
}

/* page two her */

#page2-her .div2 { 
    grid-area: 1 / 1 / 2 / 2;     
    background-image: url(story-images/pexels-nishant-aneja-2476685.jpg);
    background-position: center;
}

#page2-her .div1, #page3-her .div1 { 
    grid-area: 1 / 2 / 2 / 3; 
}

#page3-her .div2 { 
    grid-area: 1 / 1 / 2 / 2;     
    background-image: url(story-images/pexels-nitin-chauhan-16639381.jpg);
    background-position: center;
}

/* end page */

#endpage {
    background-image: url(story-images/pexels-jorgearturo-andrade-921025.jpg);
    background-size: cover;
    background-position: center;
}

#endpage #titlecontainer {
    padding: 0 5%;
    background-color: rgba(0, 0, 0, 0.7);
}