* {
    margin: 0;
    padding: 0;
}

.rotate {
    transform: rotate(180deg);
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}

img {
    width: 100%;
    height: 10vh;
    background-color: none;
}

h3 {
    font-family: "Unkempt", cursive;
    font-weight: 400;
    font-style: normal;
    color:#8a5a4a;
}

#intro, #onepage, #halfpage, #firstpage, #onehalfpage, #twopage, #currentpage {
    background-color: #dec9b8;
    color: #7f644f;
}

/* PAGE ONE */

.meetlucky {
    background-image: url(images/meetlucky.jpeg);
    background-size: contain;
    position: relative;
    box-align: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 74vh;
    background-position: center;
    z-index: 100;
}

h1 {
    font-family: "Fontdiner Swanky", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 50px;
    padding: 7px 5px;
    margin-top: 3px;
    color:#8a5a4a;
}

.intropage {
    text-decoration: none;
    display:block;
    margin-top: 10px;
    transition: all .7s;
}

.intropage:hover {
    color:blanchedalmond;
    cursor:crosshair;
}

/* PAGE TWO */

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow: hidden;
    }
    
    .div1 { 
        grid-area: 1 / 1 / 2 / 2; 
        background-image: url(images/home1.jpeg);
        height: 275px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: relative;
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
        margin: 10px
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .div1:hover, .div2:hover, .div3:hover, .div4:hover, .div5:hover {
        opacity:0.5;
        cursor: progress;
    }

    .div1:hover .middle, .div2:hover .middle, .div3:hover .middle, .div4:hover .middle, .div5:hover .middle {
        opacity: 1;
    }

    .text p {
        font-size: 30px;
        padding: 16px 32px;
        font-family: "Unkempt", cursive;
        font-weight: 400;
        font-style: normal;
        color: #7f644f;
        background-color:#f9f7e7;
    } 
    
    .div2 { 
        grid-area: 1 / 2 / 2 / 3; 
        background-image: url(images/home2.jpeg);
        height: 275px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
        position: relative;
    }
    
    .div3 { 
        grid-area: 1 / 3 / 2 / 4; 
        background-image: url(images/home3.jpeg);
        height: 275px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
        position: relative;
    }
    
    .div4 { 
        grid-area: 2 / 1 / 3 / 2; 
        background-image: url(images/home4.jpeg);
        height: 275px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
        position: relative;
        left: 31vh;
    }
    
    .div5 { 
        grid-area: 2 / 2 / 3 / 3; 
        background-image: url(images/home5.jpeg);
        height: 275px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
        position: relative;
        right: -31.5vh;
    }

@media screen and (max-width: 800px) {
    #firstpage .div1, #firstpage .div2, #firstpage .div3, #firstpage .div4, #firstpage .div5 {
        position: fixed;
    }
}

/* PAGE THREE */

#halfpage h3 {
    margin: 25px 50px 25px 50px;
    font-size: 25px;
    color: #7f644f;
}

.parent2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    }
    
    .half1 { 
        grid-area: 1 / 3 / 2 / 4; 
        background-image: url(images/half1.jpeg);
        height: 400px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    
    .half2 { 
        grid-area: 1 / 1 / 2 / 2; 
        background-image: url(images/half2.jpeg);
        height: 400px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-left: 50px;
    }
    
    .half3 { 
        grid-area: 1 / 4 / 2 / 5;
        background-image: url(images/half3.jpeg);
        height: 400px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-right: 50px;
    }
    
    .half4 { 
        grid-area: 1 / 2 / 2 / 3; 
        background-image: url(images/half4.jpeg);
        height: 400px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

@media screen and (max-width: 600px) {
    #halfpage h3 {
        font-size: 20px;
        margin-bottom: -120px;
    }
}

/* PAGE FOUR */

.parent3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .one1 { 
        grid-area: 1 / 1 / 2 / 2; 
        background-image: url(images/one1.jpeg);
        height: 375px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-top: 20px;
    }
    
    .one2 { 
        grid-area: 1 / 3 / 2 / 4;
        background-image: url(images/one2.jpeg);
        height: 375px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; 
        margin-top: 20px;
    }
    
    .one3 { 
        grid-area: 1 / 2 / 2 / 3;
        background-image: url(images/one3.jpeg);
        height: 375px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; 
        margin-top: 20px;
    }

#onepage h3 {
    margin: 30px 50px 30px 50px;
    font-size: 30px;
    color: #7f644f;
}

/* PAGE FIVE */

#onehalfpage .firstpic {
    margin-top: 65px;
    margin-right: 80px;
    font-size: 30px;
    color: #7f644f;
}

#onehalfpage .secondpic {
    margin-left: 90px;
    margin-top: 85px;
    font-size: 30px;
    color: #7f644f;
}

.parent4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .onehalf1 { 
        grid-area: 1 / 1 / 2 / 2; 
        background-image: url(images/onehalf1.jpeg);
        height: 300px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; 
    }
    
    .onehalf2 { 
        grid-area: 2 / 2 / 3 / 3; 
        background-image: url(images/onehalf2.jpeg);
        height: 300px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; 
    }

@media screen and (max-width: 600px) {
    #onehalfpage .firstpic {
        margin-left: 30px;
        font-size: 20px;
        margin-top: 50px;
        margin-right: 10px;
    }

    #onehalfpage .secondpic {
        margin-top: 50px;
        font-size: 20px;
        margin-left: 30px;
        margin-bottom: 100px;
    }

    .onehalf1 {
        margin-left: 20px;
    }
}

/* PAGE SIX */

#twopage .btn {
    margin-top: 50px;
}

.parent5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow: hidden;
}

    .two1 { 
        grid-area: 1 / 1 / 2 / 2; 
        background-image: url(images/two1.jpeg);
        height: 500px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: relative;
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
        margin: 20px
    }

    .two1 .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        right: -30%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .two1:hover, .two2:hover, .two3:hover {
        opacity:0.5;
    }

    .two1:hover .middle, .two2:hover .middle, .two3:hover .middle {
        opacity: 1;
    }

    .text p {
        color: #7f644f;
        font-size: 25px;
        padding: 16px 32px;
        font-family: "Unkempt", cursive;
        font-weight: 400;
        font-style: normal;
        background-color:#f9f7e7;
    } 
    
    .two2 { 
        grid-area: 1 / 2 / 2 / 3; 
        background-image: url(images/two2.jpeg);
        height: 500px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
        position: relative;
        margin: 20px;
    }

    .two2 .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        right: -23%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .two3 { 
        grid-area: 1 / 3 / 2 / 4; 
        background-image: url(images/two6.jpeg);
        height: 500px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
        position: relative;
        margin: 20px;
    }

    .two3 .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        right: -23%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

@media screen and (max-width: 900px) {
    .two1 .middle {
        right: -60%;
    }

    .two2 .middle {
        right: -65%;
    }

    .two3 .middle {
        right: -60%;
    }

    #twopage .text p {
        font-size: 20px;
    }
}

/* PAGE SEVEN */

.parent6 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .current1 { 
        grid-area: 1 / 1 / 2 / 2; 
        background-image: url(images/current1.jpeg);
        height: 300px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; 
    }
    
    .current2 { 
        grid-area: 1 / 4 / 2 / 5; 
        background-image: url(images/current2.jpeg);
        height: 300px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; 
    }
    
    .current3 { 
        grid-area: 2 / 1 / 3 / 2; 
        background-image: url(images/current3.jpeg);
        height: 300px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; 
    }
    
    .current4 { 
        grid-area: 2 / 2 / 3 / 3; 
        background-image: url(images/current4.jpeg);
        height: 300px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; 
    }
    
    .current5 { 
        grid-area: 2 / 3 / 3 / 4; 
        background-image: url(images/current5.jpeg);
        height: 300px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; 
    }
    
    .current6 { 
        grid-area: 2 / 4 / 3 / 5; 
        background-image: url(images/current6.jpeg);
        height: 300px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; 
    }

    .current7 {
        grid-area: 1 / 2 / 2 / 4;
        margin-top: 10px;
        font-size: 17px;
        color: #7f644f;
    }