* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}

/* LEAVES SECTION */

#leaves {
    width: 100%;
    height: 100vh;
    background-color: rgb(6, 43, 3);
    position: relative;
}

.purpleleaf {
    height: 400px;
    width: 200px;
    background-image: URL(nature-images/purple-leaf.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    rotate: 10deg;
    position: absolute;
    top: 10%;
    left: 5%;
}

.yellowleaf {
    height: 400px;
    width: 200px;
    background-image: URL(nature-images/yellow-leaf.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    rotate: 30deg;
    position: absolute;
    top: 30%;
    left: 30%;
    display: none;
}

.greenleaf {
    height: 400px;
    width: 200px;
    background-image: URL(nature-images/green-leaf.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    rotate: -20deg;
    position: absolute;
    top: 25%;
    right: 5%;
}

.reset {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: red;
}

.reset:hover {
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

/* FLOWERS SECTION */

#flowers {
    width: 100%;
    height: 100vh;
    background-color: rgb(65, 8, 8);
    position: relative;
}

.rose {
    background-image: url(nature-images/rose.png);
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 10%;
    left: 15px;
}

.daisy {
    background-image: url(nature-images/daisy.png);
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    bottom: 10%;
    right: 15px;
}

h2 {
    font-weight: normal;
    font-style: italic;
    font-size: 3vw;
    color: pink;
    line-height: 1.5;
}

.rosetext {
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 50%;
    display: none;
}

.daisytext {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 50%;
    display: none;
}

#moreflowers {
    width: 100%;
    height: 100vh;
    background-color: rgb(8, 8, 80);
    position: relative;
}

#box1 {
    position: absolute;
    width: 30%;
    top: 20%;
    left: 10%;
}

p {
    color: white;
    font-size: 20px;
}

.topclick, .panel {
    border: 1px solid white;
    padding: 5%;
}

.panel img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.panel {
    display: none;
}

#box2 {
    position: absolute;
    width: 30%;
    top: 30%;
    right: 10%;
}

.topclick:hover {
    background-color: rgba(255, 255, 255, 0.4255);
    cursor: pointer;
}

.topclick:hover p {
    color: yellow;
}

/* NAVIGATION */

.burger {
    position: fixed;
    top: 1%;
    right: 1%;
    color: white;
    z-index: 1000;
}

.burger:after {
    content: "\2630";
    font-size: 40px;
}

.burger:hover {
    cursor: pointer;
}

nav {
    height: 100vh;
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: black;
    padding-top: 5%;
    display: none;
}

nav li {
    list-style-type: none;
    font-size: 3vw;
    font-style: italic;
    margin: 5% 5% 5% 10%;
}

a {
    color: white;
    text-decoration: none;
}