*{
    margin: 0;
    padding: 0
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:indianred;
    background-color:antiquewhite;
    padding-left:30px;
    padding-bottom: 30px;
    padding-right: 30px;
}

h1 {
    padding-top: 30px;
    padding-bottom: 5px;
    text-align: center;
}

h2{
    padding-bottom: 10px;
    text-align: center;
}

p {
    padding-top: 15px;
    padding-right: 30px;
}

.bulletpoint {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 50px;
    margin-top: 25px;
}